:root {
  --lt-bg-color: #f0d5f8;
  /* --lt-heading-color: #f409dc; */
  --lt-heading-color: #0c4fd6;
  --lt-text-color: #0c4fd6;
  /* --lt-text-color: #f409dc; */
  --lt-accent-color: #95007e;
  /* --lt-accent-color: #ff11dc; */
}

/******************************************************* 
SIMPLE RESET
*****************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************************************************* 
MAIN STYLES
*****************************************************/

body {
  font-family: "Lilex", monospace;
  background: var(--lt-bg-color);
  color: var(--lt-text-color);
}

h1,
h2 {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#pattern-1,
#pattern-2,
#pattern-3,
#pattern-4,
#pattern-5,
#pattern-6,
#pattern-7,
#pattern-8 {
  stroke: var(--lt-accent-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}

.wrapper:not(:first-of-type) {
  margin-block-end: 800px;
}

.intro {
  height: 90vh;
}

header {
  display: flex;
  flex-direction: column;
  gap: 3em;
  height: 100%;
}

header h1 {
  text-align: center;
  font-size: clamp(1.5rem, 0.2826rem + 6.087vw, 5rem);
  color: var(--lt-heading-color);
  text-transform: uppercase;
  margin-block-start: min(25%, 115px);
}

#scientific-name {
  font-size: clamp(3.25rem, 0.9022rem + 11.7391vw, 10rem);
  font-style: italic;
  line-height: 1;
}

#moth-name {
  font-size: clamp(1rem, 0.6522rem + 1.7391vw, 2rem);
  text-transform: capitalize;
}

header p {
  text-align: justify;
  width: min(68ch, 75%);
  align-self: center;
  font-size: 1rem;
  line-height: 1.4;
}

nav {
  width: 100%;
  position: absolute;
  top: 50px;
  height: 90%;

  ul {
    list-style: none;

    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    #stage-2 {
      justify-self: end;
    }

    #stage-3 {
      align-self: end;
    }

    #stage-4 {
      justify-self: end;
      align-self: end;
    }

    li {
      width: 10ch;
      height: 5ch;

      a {
        display: block;
        height: 100%;
        padding: 10px;
        text-align: center;
      }
    }
  }
}

.svg-box {
  text-align: center;

  svg {
    width: 100%;
  }
}

.stage-1,
.stage-2,
.stage-3,
.stage-4 {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  gap: 2em;
  height: 90vh;
}

.stage-intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: space-between; */

  gap: 4em;
  width: 30%;
  height: fit-content;
  border: 2px solid var(--lt-heading-color);
  box-shadow: 2px 2px 1px var(--lt-heading-color);
  /* flex: 1; */
}

.stage-text {
  /* width: 64ch; */

  h2 {
    background-color: var(--lt-heading-color);
    color: var(--lt-bg-color);
    margin-block-end: 10px;
    width: 100%;
    border-bottom: 2px solid var(--lt-heading-color);
    padding: 1em;
  }

  p {
    padding: 1em 1em 2em 1em;
  }
}

.stage-interaction {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;

  svg {
    height: 90%;
    margin: 0 auto;
    overflow: visible;
  }
}

ellipse {
  stroke: #ff7beb;
}

#stage1-svg > ellipse:hover {
  translate: 20px;
  cursor: pointer;
}

#stage2-svg {
  max-width: 800px;
}

#stage3-svg {
  max-width: 400px;
}

#stage4-svg {
  max-width: 900px;
}
