/* simple reset */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f0d5f8;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
  /* margin-top: 20px; */
  /* align-items: center; */

  border: 2px solid #1860f2;
}

header h1 {
  text-align: center;
  font-size: 6rem;
  text-transform: uppercase;
  margin-block-start: calc(50% / 4);
}

#scientific-name {
  font-size: 10rem;
}

#moth-name {
  font-size: 2rem;
  font-style: italic;
  text-transform: capitalize;
}

nav {
  width: 100%;
  margin-block-end: 20px;

  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;

    li {
      border: 1px solid red;
      width: 10ch;
      height: 5ch;

      a {
        display: block;
        height: 100%;
        padding: 10px;
        text-align: center;
      }
    }
  }
}
